<a href="https://colab.research.google.com/github/macrotentional/DS-Unit-2-Linear-Models/blob/master/Martin_Campbell_DS15_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.describe

<bound method NDFrame.describe of        bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]>

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df.tail(20)

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-06-29 17:23:33        1.0  ...                     0
2016-06-29 17:23:34        1.0  ...                     0
2016-06-29 17:23:45        1.0  ...                     0
2016-06-29 17:24:39        1.0  ...                     0
2016-06-29 17:27:07        1.0  ...                     0
2016-06-29 17:28:43        1.0  ...                     0
2016-06-29 17:28:51        1.0  ...                     0
2016-06-29 17:29:26        1.0  ...                     0
2016-06-29 17:31:15        1.0  ...                     0
2016-06-29 17:32:02        1.0  ...                     0
2016-06-29 17:32:19        1.0  ...                     0
2016-06-29 17:35:09        2.0  ...                     0
2016-06-29 17:37:20        1.0  ...                     0
2016-06-29 17:38:02        1.0  ...                     0
2016-06-29 17:39:08        1.0  ...                     0
2016-06-29 17:47:34        1.0  ...                     0
2016-06-29 17:56:12        1.0  ...                     0
2016-06-29 18:14:48        1.0  ...                     0
2016-06-29 18:30:41        1.0  ...                     0
2016-06-29 21:41:47        1.0  ...                     0

[20 rows x 34 columns]

In [0]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [0]:
df = df.set_index(df['created'])

In [0]:
df = df.sort_index()

#rentbydate = df.sort_values('created')
#rentbydate

df

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-04-01 22:12:41        1.0  ...                     0
2016-04-01 22:56:00        1.0  ...                     0
2016-04-01 22:57:15        2.0  ...                     1
2016-04-01 23:26:07        1.0  ...                     1
2016-04-02 00:48:13        1.0  ...                     0
...                        ...  ...                   ...
2016-06-29 17:47:34        1.0  ...                     0
2016-06-29 17:56:12        1.0  ...                     0
2016-06-29 18:14:48        1.0  ...                     0
2016-06-29 18:30:41        1.0  ...                     0
2016-06-29 21:41:47        1.0  ...                     0

[48817 rows x 34 columns]

In [0]:
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
dtype: object

In [0]:
#train = df [ df['created'] < 2016-06-01 00:00:00 ]
#test = df [ df['created'] >= 2016-06-01 00:00:00 ]

target = 'price'

y_train = df['2016-04-01 00:00:00':'2016-05-31 23:59:59']
y_test = df['2016-06-01 00:00:00' :]

print('Train dataset:',train.shape)
print('Test dataset:',test.shape)

Train Dataset: (31844, 34)
Test Dataset: (16973, 34)

In [0]:
y_train['price'].mean()

3575.604007034292

In [0]:
guess = y_train['price'].mean()
print (guess)

3575.604007034292

In [0]:
y_train = y_train['price']
y_test = y_test['price']

In [0]:
# Train error
#from sklearn.metrics import mean_absolute_error
#y_pred = [guess] * len(y_train)
#mae = mean_absolute_error(y_train, y_pred)
#print(f'Train error (NYC rent): {mae:.2f} percent')

TypeError: ignored

In [0]:
#def fullamenities()

#df['fitness_washer'] = 1

In [78]:
#laundry = df['laundry_in_building']
#dishwasher = df['dishwasher']
#df['laundry_washer'] = pd.concat([laundry, dishwasher])
#df['laundry_washer'].head(40)

ValueError: ignored

In [84]:
df['laundry_washer'] = df['laundry_in_building'] + df['dishwasher']
df['fitness_washer'] = df['laundry_in_building'] + df['dishwasher']
print(df)

                     bathrooms  bedrooms  ... laundry_washer fitness_washer
created                                   ...
2016-04-01 22:12:41        1.0         1  ...              1              0
2016-04-01 22:56:00        1.0         0  ...              1              0
2016-04-01 22:57:15        2.0         3  ...              1              1
2016-04-01 23:26:07        1.0         1  ...              1              1
2016-04-02 00:48:13        1.0         1  ...              1              0
...                        ...       ...  ...            ...            ...
2016-06-29 17:47:34        1.0         2  ...              0              0
2016-06-29 17:56:12        1.0         1  ...              2              2
2016-06-29 18:14:48        1.0         1  ...              2              1
2016-06-29 18:30:41        1.0         3  ...              0              0
2016-06-29 21:41:47        1.0         3  ...              0              0

[48817 rows x 36 columns]

In [0]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [97]:
features = ['balcony', 
            'cats_allowed']
print(f'Linear Regression, dependent on: {features}')


X_train = train[features]
X_test = test[features]

Linear Regression, dependent on: ['balcony', 'cats_allowed']

In [98]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = model.predict(X_train)

In [100]:
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} percentage points')

Train Error: 1185.87 percentage points