<a href="https://colab.research.google.com/github/TheLadyJack/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Copy_of_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [4]:
df.head()
#my personal standard of visually perusing the data, maybe it's a broader standard, idk
#df.describe(include='all')

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
from datetime import datetime
df['created'] = pd.to_datetime(df['created'])
#datetime.timestamp(df['created'])
df['month'] = df['created'].dt.month

In [0]:
train = pd.merge(df[df['month'] == 4], df[df['month'] == 5], how='outer') 
test = df[df['month'] == 6]

In [7]:
train.head()

   bathrooms  bedrooms  ... common_outdoor_space month
0        1.0         1  ...                    0     4
1        1.0         1  ...                    0     4
2        1.0         4  ...                    0     4
3        2.0         4  ...                    0     4
4        1.0         2  ...                    0     4

[5 rows x 35 columns]

In [0]:
train['benefits'] = train['elevator'] + train['cats_allowed'] + train['hardwood_floors'] + train['dogs_allowed'] + train['doorman'] + train['dishwasher'] + train['no_fee'] + train['laundry_in_building'] + train['fitness_center'] + train['pre-war'] + train['laundry_in_unit'] + train['roof_deck'] + train['outdoor_space'] + train['dining_room'] +train['high_speed_internet'] + train['balcony'] + train['swimming_pool'] + train['new_construction'] + train['terrace'] + train['exclusive'] + train['loft'] + train['garden_patio'] + train['wheelchair_access'] + train['common_outdoor_space']
#first new feature will be a

In [18]:
test['benefits'] = test['elevator'] + test['cats_allowed'] + test['hardwood_floors'] + test['dogs_allowed'] + test['doorman'] + test['dishwasher'] + test['no_fee'] + test['laundry_in_building'] + test['fitness_center'] + test['pre-war'] + test['laundry_in_unit'] + test['roof_deck'] + test['outdoor_space'] + test['dining_room'] + test['high_speed_internet'] + test['balcony'] + test['swimming_pool'] + test['new_construction'] + test['terrace'] + test['exclusive'] + test['loft'] + test['garden_patio'] + test['wheelchair_access'] + test['common_outdoor_space']
#first new feature will be a

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

   bathrooms  bedrooms             created  ... month benefits  rooms
0        1.5         3 2016-06-24 07:54:24  ...     6        0    4.5
1        1.0         2 2016-06-12 12:19:27  ...     6        5    3.0
2        1.0         1 2016-04-17 03:26:41  ...     4        3    2.0
3        1.0         1 2016-04-18 02:22:02  ...     4        2    2.0
4        1.0         4 2016-04-28 01:32:41  ...     4        1    5.0

[5 rows x 37 columns]

In [0]:
train['rooms'] = train['bathrooms'] + train['bedrooms']

In [20]:
test['rooms'] = test['bathrooms'] + test['bedrooms']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:

target = 'price'

# Re-arrange X features matrices
features = ['rooms', 'benefits']
print(f'Linear Regression, dependent on: {features}')

X_train = train[features]
X_test = test[features]
y_train = train[target]

Linear Regression, dependent on: ['rooms', 'benefits']

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
model.fit(X_train, y_train)

# Training Error
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} percentage points')

Train Error: 856.62 percentage points

In [28]:
y_test = test[target]
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: {mae:.2f} percentage points')

Test Error: 868.00 percentage points