<a href="https://colab.research.google.com/github/mpHarm88/DS-Unit-2-Regression-Classification/blob/master/module4/Mikio_Harman_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 4


## Assignment

- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.
- [ ] [Sign up for a Kaggle account](https://www.kaggle.com/), if you donâ€™t already have one. Go to our Kaggle InClass competition website. You will be given the URL in Slack. Go to the Rules page. Accept the rules of the competition.
- [ ] Do train/validate/test split with the Tanzania Waterpumps data.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your validation accuracy score.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

---


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Clean the data. For ideas, refer to [The Quartz guide to bad data](https://github.com/Quartz/bad-data-guide),  a "reference to problems seen in real-world data along with suggestions on how to resolve them." One of the issues is ["Zeros replace missing values."](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values)
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding. For example, you could try `quantity`, `basin`, `extraction_type_class`, and more. (But remember it may not work with high cardinality categoricals.)
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

---

## Data Dictionary 

### Features

Your goal is to predict the operating condition of a waterpoint for each record in the dataset. You are provided the following set of information about the waterpoints:

- `amount_tsh` : Total static head (amount water available to waterpoint)
- `date_recorded` : The date the row was entered
- `funder` : Who funded the well
- `gps_height` : Altitude of the well
- `installer` : Organization that installed the well
- `longitude` : GPS coordinate
- `latitude` : GPS coordinate
- `wpt_name` : Name of the waterpoint if there is one
- `num_private` :  
- `basin` : Geographic water basin
- `subvillage` : Geographic location
- `region` : Geographic location
- `region_code` : Geographic location (coded)
- `district_code` : Geographic location (coded)
- `lga` : Geographic location
- `ward` : Geographic location
- `population` : Population around the well
- `public_meeting` : True/False
- `recorded_by` : Group entering this row of data
- `scheme_management` : Who operates the waterpoint
- `scheme_name` : Who operates the waterpoint
- `permit` : If the waterpoint is permitted
- `construction_year` : Year the waterpoint was constructed
- `extraction_type` : The kind of extraction the waterpoint uses
- `extraction_type_group` : The kind of extraction the waterpoint uses
- `extraction_type_class` : The kind of extraction the waterpoint uses
- `management` : How the waterpoint is managed
- `management_group` : How the waterpoint is managed
- `payment` : What the water costs
- `payment_type` : What the water costs
- `water_quality` : The quality of the water
- `quality_group` : The quality of the water
- `quantity` : The quantity of water
- `quantity_group` : The quantity of water
- `source` : The source of the water
- `source_type` : The source of the water
- `source_class` : The source of the water
- `waterpoint_type` : The kind of waterpoint
- `waterpoint_type_group` : The kind of waterpoint

### Labels

There are three possible values:

- `functional` : the waterpoint is operational and there are no repairs needed
- `functional needs repair` : the waterpoint is operational, but needs repairs
- `non functional` : the waterpoint is not operational

--- 

## Generate a submission

Your code to generate a submission file may look like this:

```python
# estimator is your model or pipeline, which you've fit on X_train

# X_test is your pandas dataframe or numpy array, 
# with the same number of rows, in the same order, as test_features.csv, 
# and the same number of columns, in the same order, as X_train

y_pred = estimator.predict(X_test)


# Makes a dataframe with two columns, id and status_group, 
# and writes to a csv file, without the index

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred
submission.to_csv('your-submission-filename.csv', index=False)
```

If you're working locally, the csv file is saved in the same directory as your notebook.

If you're using Google Colab, you can use this code to download your submission csv file.

```python
from google.colab import files
files.download('your-submission-filename.csv')
```

---

In [0]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module4')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
# Read the Tanzania Waterpumps data
# train_features.csv : the training set features
# train_labels.csv : the training set labels
# test_features.csv : the test set features
# sample_submission.csv : a sample submission file in the correct format
    
import pandas as pd

train_features = pd.read_csv('../data/waterpumps/train_features.csv')
train_labels = pd.read_csv('../data/waterpumps/train_labels.csv')
test_features = pd.read_csv('../data/waterpumps/test_features.csv')
sample_submission = pd.read_csv('../data/waterpumps/sample_submission.csv')

assert train_features.shape == (59400, 40)
assert train_labels.shape == (59400, 2)
assert test_features.shape == (14358, 40)
assert sample_submission.shape == (14358, 2)

In [4]:
train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [7]:
train_features.head(1)

      id  amount_tsh  ...     waterpoint_type waterpoint_type_group
0  69572      6000.0  ...  communal standpipe    communal standpipe

[1 rows x 40 columns]

In [8]:
train_features.describe()

                 id     amount_tsh  ...    population  construction_year
count  59400.000000   59400.000000  ...  59400.000000       59400.000000
mean   37115.131768     317.650385  ...    179.909983        1300.652475
std    21453.128371    2997.574558  ...    471.482176         951.620547
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18519.750000       0.000000  ...      0.000000           0.000000
50%    37061.500000       0.000000  ...     25.000000        1986.000000
75%    55656.500000      20.000000  ...    215.000000        2004.000000
max    74247.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 10 columns]

In [12]:
#Merging
train = pd.merge(train_labels, train_features, on='id')
train.head()

      id    status_group  ...              waterpoint_type waterpoint_type_group
0  69572      functional  ...           communal standpipe    communal standpipe
1   8776      functional  ...           communal standpipe    communal standpipe
2  34310      functional  ...  communal standpipe multiple    communal standpipe
3  67743  non functional  ...  communal standpipe multiple    communal standpipe
4  19728      functional  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [0]:
#Making Dict to replace status_group labels
replace_dict = {'functional':1, 'non functional':0, 'functional needs repair':2}
replaced_train = train.replace({'status_group':replace_dict})

In [24]:
replaced_train.head()

      id  status_group  ...              waterpoint_type waterpoint_type_group
0  69572             1  ...           communal standpipe    communal standpipe
1   8776             1  ...           communal standpipe    communal standpipe
2  34310             1  ...  communal standpipe multiple    communal standpipe
3  67743             0  ...  communal standpipe multiple    communal standpipe
4  19728             1  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [27]:
from sklearn.model_selection import train_test_split

my_train, my_val = train_test_split(replaced_train, random_state=42)
my_train.shape, my_val.shape

((44550, 41), (14850, 41))

In [28]:
#Determine majority class
target = 'status_group'
y_train = my_train[target]
y_train.value_counts(normalize=True)

1    0.542334
0    0.384871
2    0.072795
Name: status_group, dtype: float64

In [0]:
#Guessing majority class for every prediction
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [31]:
sum(abs(y_pred - y_train)) / len(y_train)

0.457665544332211

In [32]:
#Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.542334455667789

In [33]:
y_val = my_val[target]
y_pred = [majority_class] * len(y_val)
accuracy_score(y_pred, y_val)

0.5453198653198653

In [34]:
my_train.describe()

                 id  status_group  ...    population  construction_year
count  44550.000000  44550.000000  ...  44550.000000       44550.000000
mean   37087.547744      0.687924  ...    178.793333        1303.746083
std    21436.367755      0.600235  ...    471.050949         950.647840
min        0.000000      0.000000  ...      0.000000           0.000000
25%    18555.250000      0.000000  ...      0.000000           0.000000
50%    36992.500000      1.000000  ...     25.000000        1986.000000
75%    55631.500000      1.000000  ...    211.750000        2004.000000
max    74247.000000      2.000000  ...  30500.000000        2013.000000

[8 rows x 11 columns]

In [36]:
#Linear Regression

from sklearn.linear_model import LinearRegression

linear_reg = LinearRegression()

features = ['amount_tsh', 
            'gps_height', 
            'longitude', 
            'latitude', 
            'num_private', 
            'region_code', 
            'district_code',
            'population', 
            'construction_year']

X_train = my_train[features]
X_val = my_val[features]

from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

linear_reg.fit(X_train_imputed, y_train)

linear_reg.predict(X_val_imputed)

array([0.66121422, 0.66202786, 0.72705725, ..., 0.74042652, 0.64208638,
       0.71649826])

In [38]:
#Get Coeffs
pd.Series(linear_reg.coef_, features)

amount_tsh           0.000006
gps_height           0.000079
longitude           -0.008420
latitude            -0.000321
num_private          0.000174
region_code         -0.002371
district_code        0.000402
population           0.000024
construction_year   -0.000015
dtype: float64

In [43]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=1000)
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val));

Validation Accuracy 0.5548821548821549

In [0]:
#One hot encoding time
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

target = 'status_group'
features = ['amount_tsh', 
            'gps_height', 
            'longitude', 
            'latitude', 
            'num_private', 
            'region_code', 
            'district_code',
            'population', 
            'construction_year'] #original
            # 'date_recorded',
            # 'basin',
            # 'region',
            # 'lga',
            # 'public_meeting',
            # 'scheme_management',
            # 'extraction_type'

X_train = my_train[features]
y_train = my_train[target]
X_val = my_val[features]
y_val = my_val[target]

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [60]:
model = LogisticRegressionCV(cv=10, n_jobs=-1, random_state=90, multi_class='auto')
model.fit(X_train_scaled, y_train)
model.score(X_val_scaled, y_val)

0.5608080808080808

# New Section

In [57]:
X_train_encoded.shape

(44550, 547)

In [56]:
print(replaced_train.shape)
replaced_train.describe()

(59400, 41)

                 id  status_group  ...    population  construction_year
count  59400.000000  59400.000000  ...  59400.000000       59400.000000
mean   37115.131768      0.688434  ...    179.909983        1300.652475
std    21453.128371      0.599877  ...    471.482176         951.620547
min        0.000000      0.000000  ...      0.000000           0.000000
25%    18519.750000      0.000000  ...      0.000000           0.000000
50%    37061.500000      1.000000  ...     25.000000        1986.000000
75%    55656.500000      1.000000  ...    215.000000        2004.000000
max    74247.000000      2.000000  ...  30500.000000        2013.000000

[8 rows x 11 columns]

In [54]:
replaced_train.describe(exclude='number')

       date_recorded  ... waterpoint_type_group
count          59400  ...                 59400
unique           356  ...                     6
top       2011-03-15  ...    communal standpipe
freq             572  ...                 34625

[4 rows x 30 columns]